      <script>
        var opts = {{{ params }}};
        //var margin = {{{ margin }}},
        //  width = {{{ width }}} - margin.left - margin.right,
        // height = {{{  }}} - margin.top - margin.bottom;

        var svg = d3.select("body").append("svg")
            .attr("width", opts.width)
            .attr("height", opts.height)

        d3.json("fantasy.json", function (error, data) {

          var errorbar = d3.svg.errorbar()
            .height(height - opts.margin.top - opts.margin.bottom )
            .width(width - opts.margin.right - opts.margin.left)
            .xVar(opts.x)
            .yVar(opts.y);

          /*
          //set these up for facets
          var nrow = 1, 
            ncol = 1;

          if (opts.facet) {
            ncol = d3.keys(data, function(d){return d. }).length;
            nrow = d3.keys();
            data = d3.nest().key(function (d) { 
              return d[opts.facet.x] "~" d[opts.facet.y] 
            }).entries(data);
          };
          */
          data = d3.nest().key(function (d) { return d.category }).entries(data)

          var g = svg.selectAll("g").data(data.map(function (d) { return d.values }));
          g.enter().append("g")
            .call(errorbar);
        });
      </script>
